<section class="adventage">
  <h2 class="adventage__title">Volverse organizado se siente mejor con OPEN SPACES</h2>

  <article class="adventage__want">
    <img src="../assets/images/icon_1.png" alt="" />
    <h3 class="adventage__want--title">Lo que necesitas</h3>
    <p class="adventage__want--text"> Una linea de productos diseñados para todos tus espacios</p>
  </article>


  <article class="adventage__recycle">
    <img src="../assets/images/icon_2.png" alt="" />

    <h3 class="adventage__recycle--title">Materias primas sustentables</h3>
    <p class="adventage__recycle--text">Todos los productos con materias primas sustentables</p>
  </article>

  <article class="adventage__guide">


    <img src="../assets/images/icon_3.png" alt="" />

    <h3 class=" adventage__guide--title">Guía</h3>
    <p class="adventage__guide--text">Soportable y asesoramiento para ayudarte con tu objetivo</p>
  </article>
</section>