<aside class="aside">
  <section class="aside__send">
    <div class="aside__send--foto"> <img src="../assets/images/icon_4.png" title=image alt=""></div>
    <h2 class="aside__send--title">Envío gratis garantizado</h2>
    <p class="aside__send--text">Envio gratis en compras desde 100</p>
    <a class="aside__send--button  bu" href=""> Compra ahora</a>
  </section>
  <section class="aside__enjoy">
    <h2 class="aside__enjoy--title">Disfruta creando espacios</h2>

    <p class="aside__enjoy--text">Una linea de productos diseñados para todos tus espacios</p>
    <a class="aside__enjoy--button" href="">Comprar ahora</a>
  </section>
  <section>
    <img class="aside__container--foto" src="../assets/images/creando-espacios.jpg" alt="" />
  </section>
</aside>