<footer class="footer">
  <div class="footer__shop">
    <h3 class="footer__shop--title">Tienda</h3>
    <ul>
      <li><a class="footer__shop--links " href="https://adalab.es/" target="_blank">Productos</a></li>
      <li><a class="footer__shop--links" href="https://adalab.es/" target="_blank">Cajoneras</a></li>
      <li><a class="footer__shop--links" href="https://adalab.es/" target="_blank">Para toda la casa</a></li>

      <li><a class="footer__shop--links" href="https://adalab.es/" target="_blank">Habitaciones</a></li>
    </ul>
  </div>
  <div class="footer__ours">
    <h3 class="footer__ours--title">Nosotros</h3>
    <ul>
      <li><a class="footer__ours--links" href="https://adalab.es/" target="_blank">Nuestra guía</a></li>
      <li><a class="footer__ours--links" href="https://adalab.es/" target="_blank">Nuestro diseño</a></li>
      <li><a class="footer__ours--links" href="https://adalab.es/" target="_blank">Nuestra historia</a></li>
      <li><a class="footer__ours--links" href="https://adalab.es/" target="_blank">Ayuda</a></li>
    </ul>
  </div>
  <div class="footer__contact">
    <h3 class="footer__contact--title">Contacto</h3>
    <p>ayuda@openspaces.com</p>
    <a class="footer__contact--links" href="https://adalab.es/" target="_blank"> Socios</a>

    <div>
      <i class="fa-brands fa-linkedin-in fa-border-color footer__contact--icon"></i>
      <i class="fa-brands fa-instagram footer__contact--icon"></i>
      <i class="fa-brands fa-twitter footer__contact--icon"></i>
    </div>
  </div>

  <div>
    <a class="footer__arrowicon" href="./index.html#logo"><i class="fa-solid fa-arrow-up"></i></a>
  </div>
</footer>