<header class="header">


  <div class="header__menu"><i class="fa-solid fa-bars"><a href="https://adalab.es/" target="_blank"></a></i></div>
  <nav class="header__nav">
    <ul class="header__nav--list">
      <li><a class="header__nav--links" href=""></a>Productos</li>


      <li><a href="#"></a>Colecciones</li>

      <li><a class="header__nav--links" href="#"></a>Tienda</li>


      <li><a class="header__nav--links" href="#"></a>Inicio</li>


    </ul>
  </nav>


  <section class="header__section">
    <div class="header__logo">

      <img id="logo" src="../assets/images/logo.png" alt="logo open space" />
    </div>

    <h1 class="header__section--titleh1">Disfruta creando espacios</h1>
    <button class="header__section--button" href="https://adalab.es/">Comprar ahora</button>
  </section>
</header>