<header class="header">
  <nav class="header__nav">
    <ul class="header__nav--list">
      <li><a class="header__nav--links" href=""></a>Productos</li>


      <li><a href=""></a>Colecciones</li>

      <li><a class="header__nav--links" href=""></a>Tienda</li>


      <li><a class="header__nav--links" href=""></a>Inicio</li>

      <li>
        <a href="https://adalab.es/" target="_blank">
          <div class="header__menu"><i class="fa-solid fa-bars"></i></div>
        </a>
      </li>
    </ul>
  </nav>

  <div class="header__logo">

    <img id="logo" src="../assets/images/logo.png" alt="logo open space" />
  </div>

  <section class="header__section">

    <h1 class="header__section--titleh1">Disfruta creando espacios</h1>
    <a class="header__section--button" href="https://adalab.es/">Comprar ahora</a>
  </section>
</header>