<section class="special">
    <h2 class="special__h2"> Special offer</h2>
    <div class="special__container">
        <h3 class="special__containe--title">20% discount</h3>
        <p class="special__containe--text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam ipsa
            laudantium
            iusto. Autem quibusdam ullam error
            cumque officiis iste, repellendus aliquid quaerat suscipit illo odit odio dolorem. Laboriosam, voluptatum
            hic!
        </p>
    </div>
</section>