/*aside*/
@mixin titleh2 {
  color: $colorTextBlue;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
  size: 15ch;
}

@mixin textaside {
  text-align: center;
  color: $colorTextBlue;
  font-size: 14px;
  width: 70%;
  padding-bottom: 30px;
}

/*footer*/
@mixin titleF {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 12px;
  color: $colorTextFooter;
  line-height: 18px;

  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}

@mixin links {
  color: $colorTextFooter;
  text-decoration: none;
  size: 14px;
  font-weight: normal;
  line-height: 18px;
}

/*main*/
@mixin titleh3 {
  font-size: 20px;
  font-weight: 600;
  color: $colorTextBlue;
  padding-bottom: 12px;
}
@mixin maintext {
  font-size: 16px;
  font-weight: normal;
  color: $colorTextBlue;
  padding: 0 100px;
}
