@media all and (min-width: 900px) {
  /* adventage*/
  .adventage {
    grid-template-columns: 1fr 1fr 1fr;

    grid-template-rows: 1fr 3fr;
    .adventage__title {
      grid-column: 1 /4;
      padding: 40px;
    }
  }

  .footer {
    flex-direction: row;
    justify-content: space-between;
    min-width: 664px;
    padding: 76px 118px;

    &__arrowicon {
      bottom: 28px;
    }
  }
}
@media all and (min-width: 1728px) {
  /*footer*/
  .footer {
    padding: 131px 352px;
    &__shop,
    &__ours,
    &__contact {
      &--title {
        font-size: 24px;
      }
      &--links {
        font-size: 16px;
      }
    }
  }
}

/*header*/
