@media all and (min-width: 900px) {
  .header {
    background-position: right;
    &__menu {
      margin: 75px 0 0 82px;
    }
  }
  .box_1 {
    &__logo {
      padding-top: 39px;
    }
  }
  .box_2 {
    width: 50%;
    margin-left: 147px;
    justify-content: flex-start;
    align-items: flex-start;

    &__titleh2 {
      margin-bottom: 40px;
      width: 20ch;
      @include tabletBluetitleh2;
      text-align: start;
    }
  }

  /* adventage*/
  .adventage {
    grid-template-columns: 1fr 1fr 1fr;

    grid-template-rows: 1fr 3fr;
    .adventage__title {
      grid-column: 1 /4;
      padding: 40px;
    }
  }

  .footer {
    flex-direction: row;
    justify-content: space-between;
    min-width: 664px;
    padding: 76px 118px;

    &__arrowicon {
      position: relative;
      bottom: 20%;
    }
  }
}

/*header*/
@media all and (min-width: 1728px) {
  //header

  .header {
    background-position: center;
    &__menu {
      display: none;
    }
  }

  .box_1 {
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 280px;
    margin-right: 280px;

    &__nav {
      width: 50vw;
      padding-top: 76px;
      margin-right: -280px;

      display: flex;
      &--links {
        @include navText;
        text-decoration: none;
      }
      &__logo {
        width: 50vw;
      }
    }
  }
  .box_2 {
    margin-left: 290px;
  }
  /*aside_2*/
  .aside {
    flex-direction: row;
    &__enjoy {
      width: 50%;
    }
    &__container {
      width: 50%;
    }
  }

  /*footer*/
  .footer {
    padding: 131px 352px;
    &__shop,
    &__ours,
    &__contact {
      &--title {
        font-size: 24px;
      }
      &--links {
        font-size: 16px;
      }
    }
  }
}
