* {
  font-family: "Poppins", sans-serif;
}
$colorTextBlue: #0c474b;
$colorTextWhite: #fff;
$colorTextFooter: #b6c8c9;
$colorGreyBackground: #f0ebe5;
$colorSendBackground: #ff975a;
$colorfotterbackground: #0c474b;

.uppercase {
  text-transform: uppercase;
}
