.send {
  display: flex;
  flex-direction: column;
  padding-bottom: 63px;

  background-color: $colorSendBackground;
  width: 100%;
  align-items: center;
  &__foto {
    padding-top: 60px;
    justify-content: space-around;
  }
  &__title {
    @include titleh2;
    color: $colorTextWhite;
  }

  &__text {
    @include textaside;
    color: antiquewhite;
  }
  &__button {
    width: 176px;
    height: 48px;
    text-align: center;
    padding: 12px;
    text-transform: capitalize;
    color: $colorTextWhite;
    font-weight: 600;
    &:hover {
      color: crimson;
    }
  }
}
