.footer {
  padding: 56px 40%;
  white-space: nowrap;

  background-color: $colorfotterbackground;
  display: flex;
  flex-direction: column;

  justify-content: space-around;
  text-align: left;

  &__shop {
    &--title {
      @include titleF;
    }
    &--links {
      @include links;
    }
  }

  &__ours {
    &--title {
      @include titleF;
    }

    &--links {
      @include links;
    }
  }

  &__contact {
    @include links;
    width: 13ch;

    &--title {
      @include titleF;
    }

    &--links {
      @include links;
    }

    &--icon {
      font-size: 24px;
      padding-top: 10px;
      padding-right: 7px;
    }
  }

  &__arrowicon {
    font-size: 24px;
    color: $colorTextFooter;
    position: absolute;
  }
}
