@mixin titleh2 {
  color: $colorTextBlue;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
}

@mixin textaside {
  text-align: center;
  color: $colorTextBlue;
  font-size: 14px;
  width: 70%;
  padding-bottom: 30px;
}
.aside {
  display: flex;
  flex-direction: column;
  background-color: aqua;
  &__send {
    display: flex;
    flex-direction: column;
    height: 352px;
    background-color: $colorSendBackground;
    width: 100%;
    align-items: center;
    &--foto {
      padding-top: 60px;
      justify-content: space-around;
    }
    &--title {
      @include titleh2;
      color: $colorTextWhite;
    }

    &--text {
      @include textaside;
      color: antiquewhite;
    }
    &--button {
      width: 176px;
      height: 48px;
      text-align: center;
      padding: 12px;
      text-transform: capitalize;
      color: $colorTextWhite;
      font-weight: 600;
      &--button:hover {
        background-color: chartreuse;
      }
    }
  }

  &__enjoy {
    display: flex;
    flex-direction: column;
    height: 339px;
    background-color: $colorGreyBackground;
    width: 100%;
    justify-content: center;
    align-items: center;

    &--title {
      @include titleh2;
    }
    &--text {
      @include textaside;
    }
    &--button {
      width: 176px;
      height: 48px;
      background-color: $colorfotterbackground;
      text-decoration: none;
      text-align: center;
      padding: 12px;
      text-transform: capitalize;
      font-weight: 600;
      color: $colorTextWhite;
    }
  }

  &__container {
    width: 100%;
    margin-bottom: 5px;

    &--foto {
      width: 100%;
    }
  }
}
